body {
    background-color: rgb(209, 228, 250);
}

#navbarNav {
    justify-content: end;
}

#catLive2 {
    position: absolute;
    bottom: 83px;
    width: 220px;
    margin-left: 40px;
}

#footerbox {
    margin-top: 100px;
}

.icon {
    width: 25px;
}

#cartbg {
    background-color: rgb(65, 144, 254);
}

.btn {
    background-color: rgb(147, 196, 252);
}

#cartscreen {
    opacity: 0;            
    pointer-events: none;   
    transition: opacity 0.5s ease;
    background-color: rgba(186, 248, 255, 0.727);
}

#cartscreen.show {
    opacity: 1;             
    pointer-events: auto;
}

.btn:hover {
    transform: scale(1.03);
    transition: 0.3s;
    background-color: rgb(84, 178, 255);
}

#cartbg:hover {
    transform: scale(1.03);
    transition: 0.3s;
    background-color: rgb(0, 140, 255);
}

#alertbottom {
    opacity: 0;            
    pointer-events: none;   
    transition: opacity 0.5s ease;
}

#alertbottom.show {
    opacity: 1;             
    pointer-events: auto;
}

#checkout {
    opacity: 0;            
    pointer-events: none;   
    transition: opacity 0.5s ease;
}

#checkout.show {
    opacity: 1;
    pointer-events: auto;
}

#confirmit {
    opacity: 0;            
    pointer-events: none;   
    transition: opacity 0.5s ease;
}

#confirmit.show {
    opacity: 1;
    pointer-events: auto;
}

@media (max-width: 767.5px){

     #footerbox {
    margin-top: 150px;
}
    #catLive2 {
        width: 140px;
        bottom: 103px;
        margin-left: 20px;
    }
}

@media (min-width: 767.6px) {
    .icon {
        width: 32.5px;
    }
}

@media (max-width:992px){
    #logoh3 {
        display: none;
    }
}

@media (min-width: 993px){
    #logoh2 {
        display: none;
    }
    .icon {
    width: 40px;
}
    .custom-max {
    max-width: 800px;
}
}

@media (max-width: 559px){
    #catLive2 {
        bottom: 133px;
}
}


